
ul {
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.header-div{
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.span-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

.web-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.span-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  text-decoration: none;
}

.web-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 188px;
}
.list {
  list-style: none;
  background-color: #fff;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 336px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header-list {
  list-style: none;
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 0px;
}
.header-list-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  list-style: none;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.header-list-link:hover {
  color: #404bbf;
}

.header-list-link:focus {
  color: #404bbf;
}
.header-list-link:active {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  cursor: pointer;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.the-first-section {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
}

.main-section-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 188px;
  padding-right: 330px;
  padding-left: 330px;
  margin-top: 0px;
}

.btn-order-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  margin-left: 490px;
  margin-right: 490px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
}

.btn-order-service:hover {
  background-color: #404bbf;
}

.btn-order-service:focus {
  background-color: #404bbf;
}

.solution-list {
  display: flex;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
  gap: 24px;
}
.the-third-section {
  background: #f4f4fd;
}

.solutions {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.solution-texts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.team-list-item {
  background-color: #fff;
  padding-bottom: 32px;
  border-radius: 0 0 4px 4px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.workers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

footer {
  background: #2e2f42;
  height: 312px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-right: 736px;
  margin-left: 156px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-top: 120px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  margin-bottom: 120px;
}

.portfolio-list-item {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}
.portfolio-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
